*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: palevioletred;
    color: white;
}
nav {
    background-color: #333;
    padding: 10px;

}
nav a{
    color:#f6f6f6
    ;
    text-decoration: none;
    margin-right: 10px;
}